.ui-dialog {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc;
}

.ui-dialog-close {
    font-size: 16px;
    color: #ccc;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
}

.ui-dialog-close:hover {
    color: #333;
    text-decoration: none;
}

.ui-dialog-header {
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-dialog-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 10px;
}

.ui-dialog-main {
    font-size: 14px;
    line-height: 24px;
    overflow: auto;
    width: 100%;
}

.ui-dialog-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    *zoom: 1;
    height: 40px;
    line-height: 40px;
}

.ui-dialog-buttons {
    float: right;
}

.ui-dialog-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ddd;
}

.ui-dialog-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

